.block {
  display: block;
  display: inline;
}

.inline {
  display: inline;
  display: block;
}

.container {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.container2 {
  display: block;
  margin: auto;
}
