.logoip {
  display: flex;
  margin-bottom: 35px;
  align-items: center;
}

.button-bar {
  width: 121px;
  height: 41px;
  background-color: black;
  color: white;
}

.logo-baar {
  margin-right: 120px;
}

.search1 {
  margin-right: 210px;
}

.logotup {
  display: flex;
  margin-bottom: 35px;
  align-items: center;
}

.search-baar {
  margin-right: 8px;
}

.bag {
  margin-right: 8px;
}

.homepage {
  margin-left: 10px;
  margin-right: 685px;
}

a {
  margin-right: 48px;
}

.leftPng {
  display: flex;
  margin-bottom: 35px;
  align-items: center;
}

.buttons-3 {
  margin-left: 408.15px;
  margin-right: 408.15px;
}

.leftPng-4 {
  display: flex;
  background-color: black;
  color: white;
  margin-bottom: 35px;
  align-items: center;
}
.buttons-4 {
  margin-left: 849.3px;
  display: flex;
}

.leftPng-5 {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
}

.search-box {
  margin-left: 50px;
  margin-right: 485px;
}

.buttons-5 {
  display: flex;
}
