.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.print {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

.game {
  display: flex;
  justify-content: center;
  align-items: end;
  align-content: baseline;
}
.film {
  display: flex;
}

.film1 {
  flex-grow: 10;
}

.film2 {
  flex-shrink: 3;
}

.film3 {
  flex-basis: 200px;
  flex: 6 7 200px;
}

.food {
  display: flex;
}

.item1 {
  background-color: blue;
  flex: 0 0 50%;
}

.item2 {
  background-color: yellow;
  flex: 1;
}

.item3 {
  background-color: red;
  flex: 0 0 100px;
}

.school {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blue;
}

.building {
  display: flex;
}

.r {
  background-color: black;
  height: 200px;
  color: white;
  flex: 1 1 50px;
}

.t {
  background-color: purple;
  height: 150px;
  flex: 0 0 30px;
}

.h {
  background-color: aqua;
  height: 120px;
  flex: 1 1 70px;
}
